<html>
<center>
<h1> This computer hostname is {{ansible_hostname}} </h1>
<h3> It is running the {{ansible_os_family}} of operating systems </h3>
<small> This file is version {{file_ver}} </small>
{# just comment#}}
</center>
</html>
